<html>
<body>

     <h2>Laporan Kasbon</h2>
<table cellspacing=10 border=0>

<tr>
<td>Pegawai</td>
<td>
<select name="pegawai">
<option>Doni</option>
<option>Dadang</option>
<option>Jimmy</option>
<option>Adi</option>
</select>	

<tr>
<td>Periode</td>
<td>
<input type="text"name="Periode"> s/d <input type="text"name"Periode">

<tr>
<td></td>
<td>
<input type="submit" value="ok">	
<input type="submit" value="download">
</td>
</tr>
</table>
<table>
Nama    : Doni
<table>
Periode : 10 Januari 2010 s/d 10 Januari 2011
</table>
<table>
<table cellspacing=0 border=1 width=51%>
<br>
<tr>
	<th>Tanggal</th>
	<th>uraian</th>
	<th>Nilai</th>
	<th>Saldo Akhir</th>
</tr>

</tr>
<tr>
	<td align=center>20 Januari 2010</td>
	<td align=center>Kasbon</td>
	<td align=center>200.000</td>
	<td align=center>200.000</td>
</tr>
<tr>
	<td align=center>20 April 2011</td>
	<td align=center>Bayar</td>
	<td align=center>100.000</td>
	<td align=center>100.000</td>
</tr>
<tr>

</table>
<br><br>
halaman : |1|2|3|





</body>
</html>
